:root {
  --font: #3d3d3d;
  --seccondary: #ededed;
  --primary: #2e86de;
}

/* Navbar Start */
nav {
  height: 80px;
}

nav.active {
  background-color: var(--primary);
}

nav .button-navbar .btn-login {
  background-color: transparent;
  border: 1.9px solid white;
  color: white;
  border-radius: 6px;
  padding: 4px 28px;
  transition: 0.1s;
  font-weight: 500;
  letter-spacing: 1px;
}
nav .button-navbar .btn-login.active:hover {
  background-color: #ededed;
  color: #0062c4;
}
nav .button-navbar .btn-login:hover {
  background-color: var(--primary);
  border: 1.9px solid var(--primary);
}
nav .button-navbar .btn-register {
  background-color: var(--primary);
  border: 1.9px solid var(--primary);
  color: white;
  border-radius: 6px;
  padding: 4px 28px;
  transition: 0.1s;
  font-weight: 500;
  letter-spacing: 1px;
}
nav .button-navbar .btn-register:hover {
  background-color: #3899fa;
  border: 1.9px solid #3899fa;
}
nav .button-navbar .btn-register.active {
  background-color: var(--seccondary);
  border: 1.9px solid white;
  color: #0062c4;
  border-radius: 6px;
  padding: 4px 28px;
  transition: 0.1s;
  font-weight: 500;
  letter-spacing: 1px;
}
nav .button-navbar .btn-register.active:hover {
  background-color: white;
  border: 1.9px solid #b9dcff;
}
/* Navbar End */

/* Jumbotron Start */
.guest .jumbotron {
  height: 470px;
  background-image: url("../../../assets/img/Jumbotron.png");
  background-size: cover;
}

.guest .jumbotron h1 {
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.guest .jumbotron p.lead {
  color: white;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
/* Jumbotron End */

/* Content Start */
.content {
  margin-top: 100px;
}
.content.container-custom {
  width: 95%;
  margin: auto;
}
.content.container-custom h3.title-content {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 35px;
}
.content.container-custom .searching {
  background-color: wheat;
  width: 95%;
  margin: auto;
}
.content.container-custom .searching input.input-search {
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  border: none;
  padding: 8px 12px;
}
.content.container-custom .searching button.btn-search {
  width: 10%;
  background-color: var(--primary);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
.content.container-custom .searching button.btn-search:hover {
  background-color: #3899fa;
}

.content.container-custom .card-diary .row .col-md-3 .box {
  background-color: white;
  margin-top: 50px;
  width: 100%;
  height: 380px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(0.98);
  transition: 0.2s;
}
.content.container-custom .card-diary .row .col-md-3 .box:hover {
  transform: scale(1);
}
.content.container-custom .card-diary .row .col-md-3 .box h3 {
  font-size: 18px;
  font-weight: 600;
}
.content.container-custom .card-diary .row .col-md-3 .box p.date {
  font-size: 13px;
  font-weight: 500;
  color: #3d3d3d73;
}
.content.container-custom .card-diary .row .col-md-3 .box p.description {
  font-size: 14px;
  font-weight: 500;
}
.content.container-custom .card-diary .row .col-md-3 .box .content-box {
  padding: 10px;
}
.content.container-custom .card-diary .row .col-md-3 .box .icon-bookmark {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  width: 45px;
  height: 45px;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}
/* Content End */

/* Detail Post Start */
.detail-post {
  margin-top: 100px;
}
.detail-post .container-post {
  width: 90%;
  margin: auto;
}

.detail-post .title-post .title-date h3 {
  font-weight: 600;
}
.detail-post .title-post .title-date p {
  font-weight: 600;
  color: #3d3d3d80;
}
.detail-post .image-post {
  margin-top: 50px;
}
.detail-post .image-post .img-post {
  width: 100%;
  height: 570px;
}
.detail-post .icon-bookmark-post {
  background-color: white;
  width: 70px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.detail-post .icon-bookmark-post img {
  width: 24px;
}
/* Detail Post End */

/* Reset Password Start */
.page-reset-password {
  width: 100%;
  height: 100vh;
}
.page-reset-password label {
  color: #3d3d3d;
  font-weight: 600;
}
.page-reset-password input {
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #d2d2d240;
  border: 2px solid #2d2d2d73;
  height: 35px;
}
.page-reset-password .box-reset-password {
  background-color: white;
  width: 28%;
  height: 400px;
  padding: 100px 20px 0 20px;
  border-radius: 8px;
  position: relative;
}
.page-reset-password button.btn-reset-password {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  width: 100%;
  margin-top: 30px;
}
.page-reset-password .atlas-reset-pass {
  width: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
}
.page-reset-password .leaf-reset-pass {
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
}
/* Reset Password End */
